CASC_JENKINS_CONFIG=/var/jenkins_home/casc
JENKINS_ADMIN_USERNAME=
JENKINS_ADMIN_PASSWORD=
DOCKERHUB_USERNAME=
DOCKERHUB_TOKEN=
JENKINS_URL=http://localhost:9000/
JENKINS_ADMIN_EMAIL=
JAVA_OPTS=-Djenkins.install.runSetupWizard=false
GITHUB_USERNAME=jenkins
GITHUB_ACCESS_TOKEN=
DEPLOYMENT_SERVER_SSH_KEY_FILE_PATH=
DEPLOYMENT_SERVER_PUBLIC_IP=